#body-wrapper{
	background-color:#ffffff;
}

#comment{
	float: right;
    margin-right: 7%;
    font-size: 14px;
    color: #848fa3;
}

.work_flow{
	float: left;
    width: 26%;
    margin: 0 3%;
}

.white_space span{
	white-space:pre-line;
}

.contact_img{
	width:15%;
	margin:4%;
}