#nav_bar{
	width:100%;
	margin: 0 4%;
}

#nav_bar:after{
	content:" ";
	display:table;
	clear:both;
}

#wrap_header{
	padding:1px;
	height:300px;
	width:100%;
	background-color:#CFD8DC;
}

#selfIntro{
	text-align:center;
}

.nav{
	width:39%;
	float:left;
	margin-left:1px;
}

ul.nav{
	list-style-type:none;
	display: flex;
}

ul.nav li{
	padding-right:15%;
	padding-left:15%;
}


.navB::after{
	content:"";
	display:table;
	clear:both;
}

a{
	text-decoration:none;
}
